doctype 5
html(lang="en")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    link(rel="stylesheet", href="/css/style.min.css")
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-rrqJpY8xJcBbsV10SbHNoWuqH6HhQGI&sensor=false")
    script(src="js/hotspots.js")
  body
    #map-canvas
    script(src="/bower_components/jquery/jquery.js")
